body {
    background-color: #f6f6f6;
}

.video {
    padding-left: 150px;
    padding-top: 100px;
}

.video video {
    margin-top: 60px;
}

.creat {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding-top: 20px;
}

/* SLIDE ảnh */
.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.slide-item {
    display: none;
    position: relative;
    left: 100px;
}

.block {
    width: 400px;
    height: 560px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    transition: 0.3s;
}

.slide-item .block img {
    width: 100px;
}

.prev,
.next {
    position: absolute;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(138, 138, 138, 0.5);
    cursor: pointer;
}

.prev {
    left: 40px;
}

.next {
    right: -245px;
}


/*  */
.left,
.right {
    width: 50%;
    padding-left: 5%;
    position: relative;
}

/* .left .item {
    width: 300px;
    height: 100px;
    background-color: rgb(66, 55, 55);
    margin: 30px auto;
    padding: 10px;
    border-radius: 40px;
    transition: 0.5s;
    text-align: center;
}

.left img {
    height: 100%;
}

.left .item:hover {
    background-color: aqua;
} */

.mockup {
    width: 500px;
    height: 600px;
    background-image: url(/img/shirt.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
    filter: drop-shadow(0 0 40px #121212);
    position: relative;
}

.graphic {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    transition: 0.3s;
}

.drag {
    border: 5px dotted black;
}

.graphic img {
    width: 100%;
}

/* button */
.button {
    position: absolute;
    right: -300px;
    bottom: 10px;
}

button {
    --primary-color: #54d21d;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

